@charset "UTF-8";
:root {
  --main-color: #212121;
  --first-color: #ffffff;
  --second-color: #757575;
  --accent-color: #2196f3;
  --accent-btn-color: #2196f3;
  --main-background: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 15px;
  }
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo,
.footer__logo {
  padding-bottom: 25px;
  font-family: ‘Raleway’, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.logo {
  padding-top: 25px;
  padding-right: 93px;
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 35px;
  }
}

.logo-accent--footer {
  color: var(--first-color);
}
.logo-accent--header {
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  display: flex;
}
.header .container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header .container {
    justify-content: space-around;
  }
}
.header-item-portfolio, .header-mail-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item-portfolio {
  color: var(--accent-color);
}
.header-mail-portfolio {
  color: var(--second-color);
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link {
  color: var(--main-color);
  display: block;
  margin-right: 50px;
}
.nav__link.current::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 4px;
  background-color: var(--accent-btn-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.nav__link,
.conect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus,
.conect__link:hover,
.conect__link:focus {
  color: var(--accent-color);
}

.conect {
  display: none;
}
@media screen and (min-width: 768px) {
  .conect {
    display: flex;
  }
}
.conect__link {
  color: var(--second-color);
  margin-right: 50px;
}
@media screen and (min-width: 1200px) {
  .conect__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.conect__link:hover .conect__icon, .conect__link:focus .conect__icon {
  fill: var(--accent-btn-color);
}
@media screen and (min-width: 768px) {
  .conect__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .conect__list {
    flex-direction: row;
  }
}
.conect__mail {
  display: flex;
  margin-bottom: 10px;
  margin-top: 21px;
}
.conect__icon {
  margin-right: 10px;
  fill: #757575;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.conect__tel {
  display: flex;
  align-items: center;
}

.btn-menu-mob,
.mob-menu__close {
  border: none;
  background-color: transparent;
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .btn-menu-mob {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}
.mob-menu__close {
  margin-bottom: 30px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.mob-menu__item {
  margin-right: 20px;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.conect-menu {
  margin-left: 40px;
  margin-top: 40px;
}
.conect-menu__tel {
  margin-bottom: 20px;
}
.conect-menu__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.conect-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.mob-soc {
  display: flex;
  margin-top: 64px;
  position: relative;
}
.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-soc__item {
  margin-right: 20px;
}
.mob-soc__item:not(:last-child) .mob-soc__link {
  position: relative;
}
.mob-soc__item:not(:last-child) .mob-soc__link::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: aquamarine;
  top: 0;
  right: -11px;
}

.hero {
  display: flex;
  max-width: 100%;
  align-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-bottom: 60px;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mob-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tab-hero-img.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-Img-min.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--first-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.hero__button {
  display: flex;
  background: var(--accent-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-color);
  border-style: none;
  padding: 10px 32px;
  margin: 0 auto;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background: #188ce8;
}
.hero__button:focus {
  background-color: var(--main-background);
  color: #000;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu__content {
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu__content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flax-start;
}
.menu__item {
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .menu__item {
    margin-bottom: 0;
  }
}
.menu__btn {
  border-radius: 4px;
  padding: 6px 22px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-style: none;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:not(:last-child) {
  margin-right: 8px;
}
.menu__btn:hover {
  background: var(--accent-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--first-color);
}

.menu__item + .menu__item {
  margin-right: 8px;
}

button.current {
  background: var(--accent-btn-color);
  color: var(--first-color);
}

a.current {
  color: var(--accent-color);
}

.about {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    margin-bottom: 94px;
  }
}
.about__contant {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.about__item {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 30px) / 2);
    height: 100%;
    /*&:nth-child(2n + 2) {
      margin-right: 0;
    }
    &:nth-child(n + 3) {
      margin-bottom: 0;
    }*/
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
    height: 120px;
    /*   & + & {
      margin-right: 30px;
    }
    &:nth-child(n + 4) {
      margin-right: 0;
    }*/
  }
}
.about__title {
  margin-bottom: 10px;
  text-align: center;
}
.about__list {
  display: inline-block;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.about__icon {
  width: 100%;
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .about__icon {
    width: 270px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .about__icon:last-child {
    margin-right: 0;
  }
}
.about__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
}
.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.galeri {
  display: none;
}
@media screen and (min-width: 1200px) {
  .galeri {
    display: flex;
  }
  .galeri__list {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .galeri__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: none;
    color: var(--main-color);
    margin-bottom: 50px;
  }
  .galeri__img:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .box {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--first-color);
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 82px;
    position: absolute;
    bottom: 0;
  }
}

.team {
  background: #f5f4fa;
}
.team__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.team__list {
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: space-between;
  }
}
.team__item {
  width: 100%;
  height: 100%;
  margin: 0 0 30px 0;
}
.team__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}
.team__container {
  padding: 30px 0 24px 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team-soc {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-soc__item:last-child {
  margin-right: 0;
}
.team-soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc__link:hover, .team-soc__link:focus {
  background-color: var(--accent-btn-color);
  fill: var(--first-color);
}
.team .img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .team .img {
    width: 270px;
    height: 260px;
  }
}

.clients {
  padding: 60px 15px 60px 15px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 0 15px 94px 15px;
  }
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  width: calc((100% - 30px) / 2);
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__item:focus, .clients__item:hover {
  border-color: var(--accent-btn-color);
}
.clients__item:last-child {
  margin-right: 0;
  justify-content: center;
}
.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.clients__link:focus .clients__icon, .clients__link:hover .clients__icon {
  fill: var(--accent-btn-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-around;
    padding-left: auto;
    padding-right: auto;
  }
}
.footer__link {
  color: var(--first-color);
  margin-bottom: 9px;
}
@media screen and (min-width: 1200px) {
  .footer__content {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
  }
}
.footer__link,
.footer-adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer-adress__link:hover {
  color: var(--accent-color);
}

.footer-adress {
  display: flex;
  justify-content: center;
}

.footer-adress__link {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  padding-top: 12px;
  display: flex;
  justify-content: center;
}
.footer-soc__list {
  display: flex;
  justify-content: center;
}
.footer-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 25px;
}
.footer-soc__item:last-child {
  margin-right: 0;
}
.footer-soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--first-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 93px;
  }
}
.footer-subscribe__form {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__form {
    display: flex;
    margin-top: 20px;
  }
}
.footer-subscribe__title {
  justify-content: center;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-subscribe__title {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    justify-content: start;
    margin-top: 0;
  }
}
.footer-subscribe__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--first-color);
}
@media screen and (min-width: 768px) {
  .footer-subscribe__input {
    width: 450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__submit-btn {
  background: var(--accent-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-color);
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__submit-btn {
    margin-top: 0;
  }
}
.footer-subscribe__submit-icon {
  fill: var(--first-color);
  margin-left: 10px;
}

.portfolio {
  background: var(--main-background);
}
.portfolio__container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 21px;
  padding-right: 21px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio img {
  width: 100%;
  height: 100%;
  /*@include tablet {
    width: 100%;
  }
  @include desktop {
    width: 100%;
  }*/
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-item {
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc(33.3333333333% - 30px);
  }
}
.portfolio-item:hover .portfolio-item__top-text {
  transform: translate(0);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1200px) {
  .portfolio-item:nth-child(3n+3) {
    margin-right: 0;
  }
  .portfolio-item:nth-child(n+7) {
    margin-bottom: 0;
  }
}
.portfolio-item__text {
  position: relative;
  overflow: hidden;
}
.portfolio-item__top-text {
  position: absolute;
  top: 0;
  color: var(--first-color);
  background: rgba(33, 150, 243, 0.9);
  line-height: 1.5;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  position: fixed;
  transition: opasity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-background);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  display: flex;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--accent-btn-color);
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field-check {
  margin-left: 26px;
  margin-bottom: 20px;
}
.modal-icon {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding-left: 42px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-btn-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-btn-color);
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  margin-top: 4px;
}
.modal-text:not(:-moz-placeholder-shown) {
  border-color: var(--accent-btn-color);
}
.modal-text:not(:-ms-input-placeholder) {
  border-color: var(--accent-btn-color);
}
.modal-text:not(:placeholder-shown) {
  border-color: var(--accent-btn-color);
}
.modal-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-check:checked + .check-text::before {
  background-color: var(--accent-btn-color);
  background-image: url(../img/Check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check:focus + .check-text::before {
  border-color: var(--accent-btn-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.inpet-wrap {
  position: relative;
}

.submit-modal-btn {
  display: flex;
  margin: 0 auto;
  background: #2196f3;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-color);
  padding: 10px 55px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-modal-btn:hover, .submit-modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  margin-top: 20px;
}
.check-text-accent {
  color: var(--accent-color);
  text-decoration: underline;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  margin-top: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */