.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  & .container {
    @include desktop {
      display: flex;
      justify-content: space-around;
      padding-left: auto;
      padding-right: auto;
    }
  }

  &__link {
    color: var(--first-color);

    margin-bottom: 9px;
  }
  &__content {
    @include desktop {
      margin-right: 70px;
    }
  }
}
@include tablet {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
  }
}

.footer__link,
.footer-adress__link {
  @include font(400, 14px, 1.71, 0.03em);

  font-style: normal;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}
.footer-adress {
  display: flex;
  justify-content: center;
}
.footer-adress__link {
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 9px;
}
.footer-soc {
  &__title {
    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    color: var(--first-color);
    padding-top: 12px;
    display: flex;
    justify-content: center;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-top: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    //display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--first-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
.footer-subscribe {
  @include desktop {
    margin-left: 93px;
  }
  &__form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    @include desktop {
      display: flex;
      margin-top: 20px;
    }
  }
  &__title {
    justify-content: center;
    display: flex;
    @include tablet {
      margin-top: 60px;
    }
    @include desktop {
      justify-content: start;
      margin-top: 0;
    }

    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    color: var(--first-color);
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    height: 50px;
    @include tablet {
      width: 450px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    @include desktop {
      width: 358px;
      margin-right: 12px;
    }
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;

    color: var(--first-color);
    &::placeholder {
      @include font(400, 16px, 1.25, 0.03em);

      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__submit-btn {
    background: var(--accent-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    @include font(700, 16px, 1.87, 0.03em);

    color: var(--first-color);

    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-around;
    @include desktop {
      margin-top: 0;
    }
  }
  &__submit-icon {
    fill: var(--first-color);
    margin-left: 10px;
  }
}
