.hero {
  @media screen and (min-width: 480px) {
    max-width: 480px;
    max-height: 400px;
    align-content: center;
  }

  margin: 0 auto;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-Img-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //padding-top: 200px;
  //padding-bottom: 200px;
  margin: auto;
  &__title {
    @include font(900, 26px, 1.62, 0.06em);
    // @include font(900, 44px, 1.36, 0.06em);
    color: var(--first-color);
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }
  &__button {
    background: var(--accent-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @include font(700, 16px, 1.87, 0.06em);

    color: var(--first-color);
    border-style: none;
    padding: 10px 32px;
    margin: 0 auto;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
    }
    &:hover {
      background: #188ce8;
    }
    &:focus {
      background-color: var(--main-background);
      color: #000;
    }
  }
}
