.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    min-width: 450px;
  }
  @include tablet {
    min-width: 738px;
  }
  @include desktop {
    min-width: 1170px;
  }
}
