body {
  font-family: 'Roboto', sans-serif;
}

.section {
  padding: 60px 0;
}

@include desktop {
  .section {
    padding: 94px 15px;
  }
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
