.logo,
.footer__logo {
  padding-bottom: 25px;
  font-family: ‘Raleway’, sans-serif;

  @include font(700, 26px, 1.19, 0.03em);

  color: var(--accent-color);
  display: block;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.logo {
  padding-top: 25px;
  padding-right: 93px;
  @include desktop {
    padding-top: 35px;
  }
}
.logo-accent {
  &--footer {
    color: var(--first-color);
  }
  &--header {
    color: #000;
  }
}
